@use '../abstracts/variables' as *;

.home {
  color: var(--text--1);

  &__form {
    max-width: 520px;
    margin: auto;
  }

  &__form .heading {
    margin: 1rem 1.5rem 2.5rem 0;
  }

  & .form_button {
    margin: 2rem 0;
  }

  & .pos__summary {
    width: 100%;
    padding: 0 1.25rem;

    & td:not(:first-child) {
      text-align: right;
    }
  }
}
